<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ Title }} </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/navi.ico" type="image/x-icon">
</head>
<body>

<div class="container">
    <form class="form-signin" action='/' method='POST'>
        <h2 class="form-signin-heading">Log in</h2>
        <input type="text" name="login" class="form-control" value='<?php echo @$data['login'];?>' placeholder="Email address" required autofocus >
        <input type="password" name="password" class="form-control" value='<?php echo @$data['password'];?>' placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" name="do_login" type="submit">Log In</button>

        <br><script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,twitter,facebook,wargaming;hidden=;redirect_uri=http%3A%2F%2Fitra%2F;mobilebuttons=0;"></div>

        <a href="/signup.php"><h4>Do not have an account?<h4></a>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>