<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Catalog Product</title>
    </head>
    <body>
        <div class="row col col-md-3 col-md-offset-4">dfaaaaaaaaYoooooour lucky number is {{ number }}</div>
    </body>
</html>