<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Catalog Product</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/common.css') }}" />
    </head>
    <body>
        <div class="row col col-md-3 col-md-offset-4">Yoooooour lucky number is {{ number }}</div>
    </body>
</html>